name: Release RLE.Gig to NuGet

on:
  workflow_dispatch
    
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
    - name: Build
      run: dotnet build -c Release
    - name: Test
      env:
        spreadsheet_id: ${{ secrets.SPREADSHEET_ID }}
        google_credentials:type: ${{ secrets.GOOGLE_CREDENTIALS_TYPE }}
        google_credentials:private_key_id: ${{ secrets.GOOGLE_CREDENTIALS_PRIVATE_KEY_ID }}
        google_credentials:private_key: ${{ secrets.GOOGLE_CREDENTIALS_PRIVATE_KEY }}
        google_credentials:client_email: ${{ secrets.GOOGLE_CREDENTIALS_CLIENT_EMAIL }}
        google_credentials:client_id: ${{ secrets.GOOGLE_CREDENTIALS_CLIENT_ID }}
      run: dotnet test -c Release --no-build
    - name: Pack nugets
      run: dotnet pack /home/runner/work/RaptorLoggerEngine/RaptorLoggerEngine/RLE.Gig/RLE.Gig.csproj -c Release --no-build --output .
    # - name: Push to NuGet - RaptorLoggerEngine.Gig
    #   run: dotnet nuget push "*.nupkg" --api-key ${{secrets.nuget_api_key}} --source https://api.nuget.org/v3/index.json